<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="../static/fontawesome-free-5.15.3-web/css/all.css">
    <link rel="stylesheet" href="../static/css/nav.css">
    <link rel="stylesheet" href="../static/css/booking.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <title>預定行程</title>
</head>
<body>
    <div class="white-space"></div>
    <nav>
        <div class="nav">
            <a class="title" href="/">台北一日遊</a>
            <button class="ham"><i class="fas fa-bars"></i></button>
            <div class="nav-link">
                <a href="/member" class="member-page">會員頁面</a>
                <a href="/booking" class="booking-page">預定行程</a>
                <div id="to-sign-btn" class="show">登入/註冊</div>
                <div id="signout-btn">登出系統</div>
            </div>
        </div>
    </nav>

    <section class="sign-bg">
        <div class="sign-container show">
            <div class="top-bar"></div>
            <div class="main-content">
                <form id="signin">
                    <h3 class="form-title">登入會員帳號
                        <div class="close-btn">✕</div>
                    </h3>
                    <div class="form-content">
                        <input type="email" placeholder="輸入電子信箱" name="email" required>
                        <input type="password" placeholder="輸入密碼" name="password" required>
                        <button type="submit">登入帳戶</button>
                    </div>
                    <p class="message"></p>
                    <p class="to-signup">還沒有帳戶？點此註冊</p>
                </form>
            </div>
        </div>
        
        <div class="sign-container">
            <div class="top-bar"></div>
            <div class="main-content">
                <form id="signup">
                    <h3 class="form-title">註冊會員帳號
                        <div class="close-btn">✕</div>
                    </h3>
                    <div class="form-content">
                        <input type="text" placeholder="輸入姓名" name="name" required>
                        <input type="email" placeholder="輸入電子信箱" name="email" required>
                        <input type="password" placeholder="輸入密碼" name="password" required>
                        <button type="submit">註冊帳戶</button>
                    </div>
                    <p class="message"></p>
                    <p class="to-signin">已經有帳戶了？點此登入</p>
                </form>
            </div>
        </div>
    </section>

    <main>
        <h3 class="headline"></h3>
        <div class="booking-container">
           
        </div>
        <form class="order">
            <div class="seperator"></div>
            <div class="info">
                <h3>您的聯絡資訊</h3>
                <div>
                    <label for="name">聯絡姓名：</label>
                    <input type="text" id="name" name="name" required>
                </div>
                <div>
                    <label for="email">連絡信箱：</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div>
                    <label for="phone">手機號碼：</label>
                    <input type="text" id="phone" name="phone" required>
                </div>
                <p>請保持手機暢通，準時到達，導覽人員將用手機與您聯繫，務必留下正確的聯絡方式。</p>
            </div>
            <div class="seperator"></div>
            <div class="info">
                <h3>信用卡付款資訊</h3>
                <div class="card-number-group">
                    <label for="card-number">卡片號碼：</label>
                    <div class="tpfield" id="card-number"></div>
                </div>
                <div class="expiration-date-group">
                    <label for="card-expiration-date">過期時間：</label>
                    <div class="tpfield" id="card-expiration-date"></div>
                </div>
                <div class="ccv-group">
                    <label for="card-ccv">驗證號碼：</label>
                    <div class="tpfield" id="card-ccv"></div>
                </div>
            </div>
            <div class="seperator"></div>
            <div class="confirm">
                <p>總價：新台幣 <span class="total-price"></span> 元</p>
                <button type="submit" disabled>確認訂購並付款</button>
            </div>
        </form>     
        <pre class="jumbotron text-left" id="curl">
        </pre>
    </main>

    <footer>
        <p>COPYRIGHT © 2021 台北一日遊</p>
    </footer>

<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://js.tappaysdk.com/tpdirect/v5.5.1"></script>
<script src="../static/js/sign.js"></script>
<script src="../static/js/booking.js"></script>
</body>
</html>